body{
  background-color: #554994;
  margin: 0;
}

.name{
  background-color: #F29393;
  background-image: url(images/title.png);
  margin-left: 0;
  margin-right: 0;
  margin-top: 200;
  height: 440px;
  color: #ffffff;
}
.text{
  text-align: center;

}
